{{> _login_bg}}

{{> _navbar}}

<section class="main login-main">
  <div class="container">
    <h1 class="login-heading">Memories Worth<br />Remembering</h1>
    <p class="login-para">Share the best moments from your life</p>
    <a href="auth/google" type="button" class="btn btn-danger btn-lg"><i class="fab fa-google google-logo"></i> Sign Up with Google</a>
  </div>
</section>
