<div class="500-container">
    <h1 class="display-4 mb-1">Server Error</h1>
    <p class="lead">We're sorry, Something went wrong</p>
    <a href="/dashboard" class="btn btn-primary btn-lg">Go to Dashboard</a>
    <a href="/stories" class="btn btn-secondary btn-lg">Read Public Stories</a>
</div>
